# **TTI109 - Estatística**
# **Aula Complementar - Titanic**

Nessa aula vamos usar o conjunto de dados `titanic_train.csv` para treinar os conceitos de estatística descritiva. O arquivo de dados está disponível na pasta "Aula Complementar - Titanic" na seção "Aulas" da página de TTI109 no OPEN LMS.

## Importação das bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importação dos dados no formato Pandas DataFrame

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
titanic = pd.read_csv('Seu endereço aqui!')

## Análise exploratória

* Qual a dimensão dos conjunto de dados?
* Quais as colunas estão disponíveis para análise? Quais são os tipos de dados?
* Quais colunas são numéricas? Quais são categóricas ou cadastrais?
* Existem dados faltantes? Quantos? Em quais colunas? Em caso afirmativo, como proceder?

In [ ]:
# Dimensão dos dados
dim = 'Complete aqui!'
print(f'Dimensão do conjunto de dados = {dim}')

In [ ]:
# Colunas disponíveis
col = 'Complete aqui!'
print(f'Colunas disponíveis: \n{col}')

In [ ]:
# Tipos de dados
'Complete aqui!'

In [ ]:
# Colunas numéricas
'Complete aqui!'

In [ ]:
# Colunas categóricas ou cadastrais
'Complete aqui!'

In [ ]:
# Dados faltantes
'Complete aqui!'

In [ ]:
# Existem valores faltantes nas colunas 'Age', 'Cabin' e 'Embarked'
# Quantos valores faltantes?
'Complete aqui!'

A coluna `'Age'` é de nosso interesse na análise e descrição dos dados. É preciso preencher os dados faltantes com alguma informação relevante à distribuição das idades.

Aqui, vamos adotar a seguinte estratégia:

* Agrupar os passageiros por classe (`'Pclass'`), sobrevivência ao naufrágio (`'Survived'`) e por gênero (`'Sex'`);
* Calcular a média das idades de cada agrupamento;
* Substituir os valores faltantes pela média do agrupamento a que pertence o indivíduo cuja idade não está registrada.

In [ ]:
# Mantendo a coluna 'Age' (com valores faltantes) e criando uma cópia 'Age_Fill',
# cujas entradas faltantes serão preenchidas pelas médias dos agrupamentos
titanic['Age_Fill'] = 'Complete aqui!'

# Criando os agrupamentos e calculando as médias
grupos = 'Complete aqui!'

print(grupos.mean())

In [ ]:
# Preenchendo os valores faltantes da coluna 'Age_Fill'
titanic['Age_Fill'] = grupos.apply(lambda x: x.fillna(x.mean()))

# O passageiro registrado na linha 176 é um homem que embarcou na 3a classe
# e não sobreviveu. Sua idade não está registrada ('Age' = NaN)
# Note que a idade presente na coluna 'Age_Fill' condiz com o agrupamento ao
# qual pertence o referido passageiro
display(titanic.iloc[176])

## Descrição dos dados

Construa gráficos / diagramas que descrevam de forma adequada:

**a)** A distribuição do gênero dos passageiros.

In [ ]:
# Distribuição de gênero dos passageiros
dist_genero = 'Complete aqui!'
print(dist_genero)
plt.pie('Complete aqui!')
plt.show()

In [ ]:
# Alternativa - Usando um prórpio código para formatação dos dados
def autopct_format(values):
  def my_format(pct):
    total = sum(values)
    val = int(round(pct*total/100.0))
    return f'{pct:.1f}%\n({val:d})'
  return my_format

plt.pie(dist_genero.values, labels=dist_genero.index,
        autopct=autopct_format(dist_genero.values),
        shadow=True, startangle=90,
        explode=[0.05]*len(dist_genero.values))
plt.title('Passageiros do Titanic, por gênero')
plt.show()

**b)** A distribuição dos sobreviventes.

In [ ]:
# Distribuição de sobreviventes
dist_sob = 'Complete aqui!'
print(dist_sob)
plt.pie('Complete aqui!')
plt.title('Passageiros do Titanic\n Sobrevivência ao naufrágio')
plt.show()

In [ ]:
# Alternativa - Usando um prórpio código para formatação dos dados
plt.pie(dist_sob.values, labels=['Não', 'Sim'],
        autopct=autopct_format(dist_sob.values),
        shadow=True, startangle=90,
        explode=[0.05]*len(dist_sob.values))
plt.title('Passageiros do Titanic\n Sobrevivência ao naufrágio')
plt.show()

**c)** O número de sobreviventes em função:

* do gênero dos passageiros;
* da classe dos passageiros;
* do local de embarque dos passageiros.

In [ ]:
# Criação dos subplots para os gráficos de barra
fig, (axis1, axis2, axis3) = plt.subplots(1, 3, figsize = (15,5))
fig.suptitle('Número de sobreviventes do naufrágio do Titanic', fontsize=12)
fig.supylabel('Sobreviventes')

# Distribuição de sobreviventes em função:
# - do gênero dos passageiros
'Complete aqui!'

# - da classe dos passageiros
'Complete aqui!'

# - do local de embarque dos passageiros
'Complete aqui!'

plt.tight_layout()
plt.show()

**d)** O número de sobreviventes em cada classe, por gênero.

In [ ]:
'Complete aqui!'
plt.tight_layout()
plt.title('Sobreviventes por gênero / classe')
plt.ylabel('Número de sobreviventes')
plt.show()

**e)** A distribuição de idade dos passageiros, em classes com amplitude de 5 anos.

In [ ]:
'Complete aqui!'

plt.title('Distribuição de idades dos passageiros')
plt.xlabel('Idade')
plt.ylabel('Número de passageiros')
plt.show()

**f)** A distribuição de idades dos passageiros que não sobreviveram ao naufrágio.

In [ ]:
'Complete aqui!'

plt.title('Distribuição de idades dos passageiros\n mortos no naufrágio')
plt.xlabel('Idade')
plt.ylabel('Número de passageiros')
plt.show()

**g)** A distribuição de idades dos passageiros que sobreviveram ao naufrágio.

In [ ]:
'Complete aqui!'

plt.title('Distribuição de idades dos passageiros\n que sobreviveram ao naufrágio')
plt.xlabel('Idade')
plt.ylabel('Número de passageiros')
plt.show()

**h)** A distribuição de idades dos passageiros, identificando possíveis *oultiers*.

In [ ]:
# Descrição geral do conjunto de dados
'Complete aqui!'

In [ ]:
# Quartis da distribuição de idades
quartis = 'Complete aqui!'
display(quartis)

In [ ]:
# Calculando a amplitude interquartil
interquartil = 'Complete aqui!'
print(f'Amplitude interquartil: {interquartil} anos')

In [ ]:
# Limites para detecção de outliers
lim_min = 'Complete aqui!'
lim_max = 'Complete aqui!'
print('Limites de detecção para outliers:')
print(f'Inferior = {lim_min}')
print(f'Superior = {lim_max}')

In [ ]:
# Procurando por outliers
out_inf = 'Complete aqui!'
print('Outlier inferior:')
display(out_inf.sort_values(axis=0))

out_sup = 'Complete aqui!'
print('\nOutlier superior:')
display(out_sup.sort_values(axis=0))

In [ ]:
# Boxplot
'Complete aqui!'

plt.xlabel('Idade')
plt.show()

**i)** A distribuição de idades dos passageiros, por gênero, identificando possíveis *outliers*.

In [ ]:
# Boxplot
'Complete aqui!'

plt.suptitle('')
plt.xlabel('Idade')
plt.show()

**j)** A distribuição de idades dos passageiros que sobreviveram ou não ao naufrágio, identificando possíveis *outliers*.

In [ ]:
# Boxplot
'Complete aqui!'

plt.suptitle('')
plt.xlabel('Idade')
plt.show()

## Probabilidades

**a)** Construa uma tabela de distribuição conjunta de frequências que relacione a sobrevivência ao naufrágio com o gênero, a classe e a idade (abaixo dos 30 anos) dos passageiros. Essa tabela reùne a contagem de sobreviventes em cada agrupamento.

In [ ]:
# Contagem de sobrevivência por 'Sex', 'Pclass' e 'Age_Fill' < 30
genero = 'Complete aqui!'
sobrevivencia = 'Complete aqui!'
classe = 'Complete aqui!'
jovem = 'Complete aqui!'

pd.crosstab('Complete aqui!')

**b)** Construa uma tabela de distribuição conjunta de frequências que relacione a sobrevivência ao naufrágio com a classe dos passageiros. A seguir, calcule as probabilidades de que um passageiro sorteado aleatoriamente:

* tenha sobrevivido, dado que pertencia à 2ª classe;
* pertença à 3ª classe, dado que não sobreviveu;
* pertença à 1ª classe e não tenha sobrevivido;
* tenha sobrevivido ou pertença à 3ª classe.

In [ ]:
# Tabela de distribuição conjunta
tab = 'Complete aqui!'
display(tab)

In [ ]:
# P(Sobreviveu | 2ª classe)
prob = 'Complete aqui!'
print(f'P(Sobreviveu | 2ª classe) = {prob*100:.1f}%')

In [ ]:
# P(3ª classe | Não sobreviveu)
prob = 'Complete aqui!'
print(f'P(3ª classe | Não sobreviveu) = {prob*100:.1f}%')

In [ ]:
# P(1ª classe E Não sobreviveu) = P(1ª classe) * P(Não Sobreviveu | 1ª classe)
prob1 = 'Complete aqui!'
prob2 = 'Complete aqui!'
print(f'P(1ª classe E Não sobreviveu) = {prob1*prob2*100:.1f}%')

In [ ]:
# P(Sobreviveu OU 3ª classe) = P(Sobreviveu) + P(3ª classe) - P(Sobreviveu E 3ª classe)
prob1 = 'Complete aqui!'
prob2 = 'Complete aqui!'

# P(Sobreviveu E 3ª classe) = P(Sobreviveu) * P(3ª classe | Sobreviveu)
prob3 = 'Complete aqui!'

print(f'P(Sobreviveu OU 3ª classe) = {(prob1+prob2-prob3)*100:.1f}%')

**c)** Construa uma tabela de distribuição conjunta de frequências que relacione a sobrevivência ao naufrágio com a idade inferior a 30 anos (jovem). A seguir, calcule as probabilidades de que um passageiro sorteado aleatoriamente:

* não tenha sobrevivido, dado que é jovem;
* não seja jovem, dado que sobreviveu;
* seja jovem e não tenha sobrevivido;
* tenha sobrevivido ou não seja jovem.

In [ ]:
# Tabela de distribuição conjunta
tab = 'Complete aqui!'
display(tab)

**d)** Construa uma tabela de distribuição conjunta de frequências que relacione a sobrevivência ao naufrágio com o gênero dos passageiros. A seguir, calcule as probabilidades de que um passageiro sorteado aleatoriamente:

* não tenha sobrevivido, dado que é mulher;
* seja homem, dado que sobreviveu;
* seja mulher e tenha sobrevivido;
* tenha sobrevivido ou seja mulher.

In [ ]:
# Tabela de distribuição conjunta
tab = 'Complete aqui!'
display(tab)

**e)** Construa uma tabela de distribuição conjunta de frequências que relacione a sobrevivência ao naufrágio com a idade superior a 60 anos (idoso). A seguir, calcule as probabilidades de que um passageiro sorteado aleatoriamente:

* não tenha sobrevivido, dado que é idoso;
* não seja idoso, dado que sobreviveu;
* seja idoso e não tenha sobrevivido;
* tenha sobrevivido ou não seja idoso.

In [ ]:
# Filtro de idade > 60 anos
idoso = 'Complete aqui!'
# Tabela de distribuição conjunta
tab = 'Complete aqui!'
display(tab)